/*containers*/
body{
	font-family: 'PT Sans', sans-serif;
	background:#fff;
	color:#fff;

}

.wrapper{
	width:70%;
	margin: 30px auto;

	border-radius: 10px;
	box-shadow: 10px 10px 10px #79727b;
}

.margin{
	width: 70%;
	margin: 0px auto;	
}

.navigation{
	width: 100%;
	height: 200px;
	background-color:#4e5e00;
}

.navigation li{
	font-size: 1.666em;
	padding-top: 10px;
}


.navigation img{
	height:200px;
	width: 200px;
	border-radius: 100%;
	float: right;
	position: absolute;
}

ul{
	
	text-align: center;
}

li{
	display: inline;
	border: 2px solid #fff;
	border-style: none solid none none;
	padding: 0 5px;
}
a {
	color: #fff;
}

h1{
	font-size: 4em;
	text-align: center;
}

h2{
	font-size: 3em;
	text-align: center;
}

p{
	font-size: 1.33em;

}




#about{
	background-color: #270027;
	padding:5px;
}

#places{
	background-color: #5a075a;
	padding: 5px;
}

.imgMe{
	width: 50%;
	bottom:0px; 
	margin: 0px auto;
}

.imgMe img{
	width: inherit;
	height: auto;
}

.BotLeft{
	float:left;
	display: block;
	bottom:0px;
}

.BotLeft img{
	height:200px;
	width: 200px;
	border-radius: 100%;
}


.TopRight{
	height:200px;
	width: 200px;
	border-radius: 100%;
	display:block;
	float:right;
	top:0px;
	background-color: #000;
	background-image: url("../images/beachbirdsLR.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	
}


.TopRight img{
	height:200px;
	width: 200px;
	border-radius: 100%;
}

img{
	display: block;
	margin:0 auto;
}

.caption{
	font-size: 1em;
	display: inherit;
	position: relative;
	top:inherit;
	bottom:inherit;
	color: #000;
	text-align: center;
}



/*slideshow*/

#slideshow {
	height:400px;
	background-color: #000;
	margin:0px auto;
	margin-bottom: 30px;
	border-style: 1px solid #fff;
}
.slideshow-content{
	height: inherit;
}
.slideshow-content img{
	max-height:100%;
	max-width: 100%;
	}



.slideshow-content p{
	height: 10%;
	background-color: #000;
	opacity: .6;
	padding:5px;
	margin-top: -40px;
	text-align: center;
}

#slideshow button{
	display:inline-block;
	background-color: #000;
	color:#fff;
	border-radius: 30px;
}


#next{
	float: right;
}
#past{
	float: left;
}
.item{
	visibility: hidden;
}
.active{
	visibility: visible;
	opacity: 1;
}

