body{
	font-family: 'Cagliostro', sans-serif;
	background:#000;
	color:#fff;
}

.wrapper{
	width:900px;
	margin: 0px auto;
}

h1{
	font-size: 4em;
	text-align: center;
}

h2{
	font-size: 3em;
}

p{
	font-size: 1.666em;

}

.imgMe{
	display: block;
	bottom:0px;
}

.imgMe img{
	height: 50%;
}

.BotLeft{
	float:left;
	display: block;
	bottom:0px;
}

.BotLeft img{
	height:200px;
	width: 200px;
	border-radius: 100%;
}

.circle{
	height:200px;
	width: 200px;
	border-radius: 100%;
}
.TopRight{
	float:right;
	top:0px;
	display:block;
}


.TopRight img{
	height:200px;
	width: 200px;
	border-radius: 100%;
}

img{
	display: block;
	margin:0 auto;

}

.caption{
	font-size: 1em;
	display: inherit;
	position: relative;
	float: inherit;
	top:inherit;
	bottom:inherit;
}

